{
    "edi_features":
    {
        "member": {
        "member_id": "4a0c2e40-bbde-4ad1-bc83-431b04764d5c",
        "name": "James Robinson",
        "address": "3146 Charles Mountains Apt. 183, Port Jacob, MD 58011",
        "dob": "09-01-1947"
        },
        "provider": {
        "npi": "1932102084",
        "name": "RAVI ADUSUMILLI",
        "address": "2940 N MCCORD RD TOLEDO OH 436151753",
        "taxonomy": "207RC0000X"
        },
        "submitter": "Submitter Sanders",
        "receiver": "Receiver Roberts",
        "payer": "Payer Paddington",
        "eligibility": {
            "is_eligible": "True",
            "start_date": "01-01-2024",
            "end_date": "12-31-2025",
            "group_no": "ABC Pvt Ltd",
            "subscriber_dob": "01-01-1980"
        },
        "policy_benefits": {
            "PolicyName": "Basic Coverage Plan",
            "Coverage": "PPO",
            "details": [
                {"type": "Preventive Care", "description": "Annual checkup, immunizations, and screenings"},
                {"type": "Emergency Care", "description": "24/7 emergency room services"}
            ]
        },
        "basic_auth": {
            "auth_status": "Approved",
            "auth_number": "AUTH56789",
            "auth_date": "02-01-2022",
            "auth_expiry_date": "12-31-2026"
        },
        "icd_codes": ["ICD10-A01", "ICD10-B02"],
        "cpt_codes": ["CPT-99213", "CPT-93000"]
    },
    "output_edi": "output/edi_278_prsed_21022025.txt",
    "output_extracted_json": "output/edi_278_extracted.json",
    "providers_db": "https://provider.dev.smarthub.trulogik.com/provider-match/",
    "members_db": "https://provider.dev.smarthub.trulogik.com/member-match/",
    "fields_need_to_check": ["member", "provider", "submitter", "receiver", "policy_benefits"],
    "blob_credentials":
    {
        "CONTAINER_NAME": "trulogikedi",
        "BLOB_NAME": "edi_278_parsed_21022025.txt",
        "CONNECTION_STRING":["DefaultEndpointsProtocol=https;",
        "AccountName=trulogikstorage;",
        "AccountKey=Ha6LmLNslLWj1iXjzIh+wRk0xBVw55M7c/kEHNu8tztoIrztkK835EOmrZRNbWi7h3Z8bHnZaGa6+ASt75gbgg==;",
        "EndpointSuffix=core.windows.net"]
    }
}
